[Desktop Entry]
Version=2024.3.1
Type=Application
Name=Android Studio
Exec=~/development/android-studio/bin/studio.sh
Icon=~/development/android-studio/bin/studio.png
Comment=Android IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
